.view-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 50px;
  background: linear-gradient(145deg, #6876e6, #7b8cff);
  box-shadow: 20px 20px 60px #626fd9, -20px -20px 60px #8497ff;
}
