.view-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  align-self: center;
  width: 90%;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 50px;

  background: #f2f3f7cb;
  box-shadow: inset 20px 20px 60px #cecfd2, inset -20px -20px 60px #ffffff;
  z-index: 1;
}

@media screen and (max-width: 540px) {
}
