.nav-box {
  position: relative; /* Position the container relative to its normal position */
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.logo-cont {
  position: absolute; /* Position the logo container absolutely */
  top: 0; /* Align to the top of the nav-box */
  left: 0; /* Align to the left of the nav-box */
  width: 10%; /* Adjust width as needed */
  font-size: 1rem;
  transition: 0.3s;
}

.logo-cont:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.logo-text {
  color: #1b1b1b;
  font-weight: 300;
}
.logo-link > .logo-text {
  font-weight: bold;
}
.logo-link {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit the color from the parent */
}

.nav-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgb(7, 0, 57);
  width: 80%;
  border-radius: 20px;
  background: #f2f3f7;
  box-shadow: 2px 2px 6px #f5f6fe, -2px -2px 22px #d8e3ff;
}

.nav-icon {
  height: 50%;
  object-fit: contain;

  transition: 0.3s;
}

.icon-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  align-content: center;
  transition: 0.3s;
  text-decoration: none;
}

.icon-cont:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 876px) {
  .logo-cont {
    top: 4px;
    font-size: 0.5rem; /* Adjust font size for smaller screens */
    height: 100%;
  }
}
