.nav-box {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.logo-text {
  color: #009bef;
  font-weight: 300;
  font-size: 1.2rem;
  border-bottom: #009bef00 2px solid;
  transition: 0.3s ease-in-out;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.nav-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgb(7, 0, 57);
  width: 80%;
  border-radius: 20px;
  background: #f2f3f7d6;
  box-shadow: 20px 20px 60px #00000029, -20px -20px 60px #0000002b;
}

.nav-icon {
  height: 50%;
  object-fit: contain;
  transition: 0.3s;
}

.icon-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-content: center;
  transition: 0.3s;
  text-decoration: none;
}

.icon-cont:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.active {
  /* border-bottom: #009bef 2px solid; */
  transition: 0.2s;
}

@media screen and (max-width: 876px) {
  .logo-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .nav-box {
    height: 60px;
  }
  .nav-cont {
    width: 90vw;
  }

  .logo-text {
    font-size: 0.9rem;
  }
}
