.contract-cont {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  flex-direction: row;
  overflow: hidden;
  text-shadow: 1px 1px 2px rgba(78, 78, 78, 0.2);
  box-shadow: inset 10px 20px 50px #f0f3fb, inset -20px -20px 50px #f7f8f8;
}

.contract-nav {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
  margin-left: 3%;
}

.contract-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tittilium Web", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 4%;
}

.entry-box-c {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 89%;
  background: linear-gradient(125deg, #19a2eb, #13618c);
  border-radius: 50px;
  margin: 5px;
  box-shadow: 2px 2px 6px #c5c5c5, -2px -2px 6px #cacaca;
  color: white;
  font-family: "Montserrat", sans-serif;

  font-size: 1.6rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.207);
  text-align: center;
}

.website {
  text-decoration: none;
  color: white;
}

.website:hover {
  text-decoration: underline;
}

.entry-box-c:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.body-p {
  font-family: "Montserrat", sans-serif;
  margin: 3% 5%;
  font-size: 1.2rem;
  align-items: center;
  line-height: 1.3;
}

.body-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 2% 3% 0% 5%;
  text-align: center;
  color: #00a6ff;
  text-shadow: 2px 2px 2px rgba(98, 98, 98, 0.207);
  align-self: flex-start;
}

.job-info-cont {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin: 2% 0% 0% 5%;
}

.job-info-box {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(125deg, #19a2eb, #13618c);
  text-align: center;

  border-radius: 20px;
  padding: 10px;
  color: white;
  font-size: 12px;
  animation: fadeinWidth 2s ease-in;
}

.job-info-box:nth-child(2) {
  margin-left: 20px;
}

/* Fade in width animation*/

@media screen and (max-width: 1320px) {
  .entry-box-c {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .entry-box-c {
    font-size: 1rem;
  }
}

@media screen and (min-width: 541px) and (max-width: 900px) {
  .entry-box-c {
    font-size: 1rem;
  }

  .body-p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 540px) {
  .contract-cont {
    flex-direction: column;
  }
  .contract-nav {
    max-height: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5% 2%;
    align-self: center;
    width: 100%;
  }
  .contract-body {
    width: 100%;
    margin: 0;
  }

  .body-p {
    font-size: 0.7rem;
  }

  .body-title {
    font-size: 2rem;
    margin: 3px;
    margin-bottom: 1%;
    align-self: center;
  }
  .entry-box-c {
    height: 30px;
    font-size: 0.7rem;

    width: 40%;
  }

  .active-entry2 {
    border-bottom: none;
  }

  .job-info-box {
    display: flex;
    align-self: center;
    margin: 3% 0% 0% 0%;
    flex-direction: column;
    text-align: center;
    width: 40%;
    padding: 5px;
  }

  .job-info-cont {
    width: 100%;
    margin: 0 2%;
    justify-content: space-around;
    align-self: center;
  }

  .job-date {
    display: flex;
    justify-content: center;
  }

  .website {
    height: 50%;

    justify-content: center;
  }

  .job-info-box:nth-child(2) {
    margin-left: 0px;
  }

  .first {
    margin-top: 7%;
  }
  .body-title {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .body-p {
    font-size: 0.6rem;
  }
}
