body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #dce0ff;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height to fill the viewport */
}

.content {
  flex-grow: 1; /* Allow the content to fill the remaining space */
  overflow-y: auto; /* Add vertical scroll if needed */
}
