body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #7383ff;
  box-shadow: inset 20px 20px 60px #626fd9, inset -20px -20px 60px #8497ff;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height to fill the viewport */
}

.content {
  flex-grow: 1; /* Allow the content to fill the remaining space */
  overflow-y: auto; /* Add vertical scroll if needed */
}
